html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

html, body{
    height: 100%;
}
body{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
}

.player{
    width: 375px;
    height: 550px;
    background: #666;
    border-radius:10px;
    position: relative;
    overflow: hidden;
}

.header{
    padding: 15px 0;
    text-align: center; 
}

.pic{
    /* background-image: url(./img/bar_chart.svg);
    background-size: cover; */
    width: 210px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.info{
    text-align: center;
    padding: 10px 0 10px;
    font-size: 14px;
    white-space: nowrap;
}
.info .musicName{
    font-size: 18px;
}
.lrc_resolve{
    text-align: center;
    font-size: 14px;
    height: 80px;
    overflow: hidden;
    position: relative;
}
.lrc_resolve #lyric{
    transition: all 1s linear;
    transform: translate(0,0px);
}
.lrc_resolve #lyric .lrc_ul_item{
    line-height: 20px;
    height: 20px;
}
.lrc_resolve #lyric .lyric_li_active{
    color: #0099ff;
}

.progress{
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0;
    left: 0;
    background: #666;
    opacity: 0.6;
    cursor: pointer;
}
.progress-bar{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0),#0099ff);
    width: 0;
    height: 100%;
    cursor: pointer;
    /* transition: width 0.4s linear; */
}

.contrul{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #666; */
    bottom: 10px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #666;
}
.contrul img{
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: all 0.5s linear;
}
.contrul img:hover{
    transform: scale(1.1);
}

.timer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
}

.menus{
    position:absolute;
    width: 100%;
    display:flex;
    justify-content: space-around;
    /* padding: 0 35px; */
    bottom: 111px;
    height: 20px;
    align-items: center;
    box-sizing: border-box;
}

.menus .order_random img{
    width: 20px;
    height: 20px;
    display: block;
    cursor:pointer;
    transition: transform 0.5s linear ;
}
.menus .order_random img:hover{
    transform: scale(1.1);
}

.menus .volume_control img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: transform 0.5s linear ;
}
.menus .volume_control img:hover{
    transform: scale(1.1);
}

.menus .volume_control .volume_bar_box{
    display: inline-block;
    width: 120px;
    height: 3px;
    background: #fff;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    border-right: 1px solid #666;
}
.menus .volume_control .volume_bar_box .volume_bar_core{
    width: 100%;
    height: 3px;
    background: #0099ff;
    transition: all 0.5s linear;
}

.menus_list img{
    display: block;
    width: 20px;
    height: 20px;
    transition: transform 0.5s linear ;
}
.menus_list img:hover{
    transform: scale(1.1);
}

.panel_list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    background: rgba(51,51,51,0.5);
    padding: 30px 0;
    /* display: none; */
    visibility: hidden;
    transition: all 1s ease;
}
.panel_list_close{
    position: absolute;
    bottom: 0;
    width: 20px;
    left: 50%;
    margin-left:-10px;
    text-align: center;
    margin: 10px auto;
    letter-spacing: -0.5em;
    transform: rotate(90deg);
    cursor: pointer;
}
.panel_list_close:hover{
    transform:rotate(90deg) scale(1.1);
}

.bounceInUp{
    animation-name: bounceInUp;
    animation-duration: 1s;
}
.bounceOutDown{
    animation-name: bounceOutDown;
    animation-duration: 1s;
}
.panel_list_ul{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.panel_list_ul::-webkit-scrollbar-track{
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5
}
.panel_list_ul::-webkit-scrollbar{
    width: 12px;
	background-color: rgba(51,51,51,0.5);
}
.panel_list_ul::-webkit-scrollbar-thumb{
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:  #0099ff;
}


.panel_list_ul li{
    overflow: hidden;
    cursor: pointer;
    padding: 0 30px;
    margin: 5px 0 ;
}
.panel_list_ul li.active{
    background: rgba(51,51,51,0.5);
}
.panel_list_ul li.active .col-1{
    background: url(../img/bar_chart.svg) no-repeat;
    background-position: center;
}
.panel_list_ul li:hover{
    background: rgba(153,153,153,0.5);
}

.panel_list_ul .col{
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 21px;
    height: 21px;
}
.panel_list_ul .col-1{
    width: 10px;
    margin:0px 5px;
}
.panel_list_ul .col-2{
    width: 30px;
    font-size: 14px;
}
.panel_list_ul .col-3{
    width: 170px;  
    font-size: 14px;
}
.panel_list_ul .col-4{
    width: 70px;
    font-size: 12px;
}

@keyframes bounceInUp {
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes bounceOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    40%,
    45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
}